/* Import google fonts here */

html, body {
    width: 100vw;
    height: 100vw;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(158, 158, 201);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Heading styles */

.heading {
    text-align: center;
    margin-top: 30px;
}

/* Introduction styles */

.introduction-area {
    background-color: darkolivegreen;
    border:solid 10px red;
    border-image: repeating-linear-gradient(45deg, white, white 2.5%, red 1%, red 8%) 10;
    margin: 4em;
}

.introduction-area p {
    margin: 30px;
}

/* Game box styling */
#game-area {
    background-color: white;
    margin-top: 30px;
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vh;
    height: auto;
    
}

#mazeContainer {
    top: 15px;
    /*opacity: 0; */
    display: block;
    margin: 0;
    height: 400px;
    /*border-radius: 10px;
    border: solid 2px rgb(173, 82, 82);*/
}

#mazeContainer {
    text-align: center;
    margin: 8em;
    display: block;
    height: 400px;
    border-radius: 10px;
    border: solid 2px rgb(173, 82, 82);
}

/* Dropdown menu styles */
input, select {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.30);
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
}

/* Interactive styling for dropdown select menu */
input:hover, select:hover {
    background-color: rgba(67, 105, 31, 0.7)
}

input:active, select:active {
    background-color: black;
}

input:focus, select:focus {
    outline:none;
}

.custom-select {
    display: inline-block;
}

.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: none;
    background-position: 125px center;
}

/* Toggled message box onclick */
#message-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: solid 1px #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;

}

#message-box #message {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

/* General page styles */
#page {
    text-align: center;
    height: auto;
    width: auto;
    margin: auto;
}

#page #menu {
    margin: auto;
    padding: 10px;
    height: 65px;
    box-sizing: border-box;
}

/*#page #game-area {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
} */

/* .border {
    border-radius: 10px;
    border: solid 2px rgb(173, 82, 82); 
} */

#instructions {
    margin-top: 425px;
}

/* Maze styling */
/* Outer container using CSS grid */
#maze {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20px); /* Column Width */
    grid-gap: 1px;
}

/* Each row in the maze */
#maze > div {
    display: flex;
}

/* Covers cell in the maze */
#maze > div > div {
    flex-grow: 1;
    aspect-ratio: 1;
    border: 1px solid #000; /* border for walls */
}

/* Different types of cells (note: add images) */
#maze .wall {
    background-color: pink;
}

#maze .tree {
    background-color: blue;
}

#maze .entrance {
    background-color: rgb(233, 141, 4);
}

#maze .exit {
    background-color: rgb(0, 255, 213);
}

#maze .star {
    background-color: gold;
}







/* Small devices such as phones (767px and down) */
@media only screen and (max-width: 767px) {
    input, select {
        width: 120px;
    }
    
    .introduction-area {
    margin: 20px;
    }

    #mazeContainer {
    margin: 20px;
    }

}
/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
    input, select {
        width: 150px;
    }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
    input, select {
        width: 200px;
    }
}