html, body {
    width: 100vw;
    height: 100vw;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(158, 158, 201);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Introduction styles */

.introduction-area {
    background-color: darkolivegreen;
    border:solid 10px red;
    border-image: repeating-linear-gradient(45deg, white, white 3%, red 1%, red 8%) 10;
    margin: 50px;
}

.introduction-area p {
    margin: 30px;
}

/* Game box styling */
#game-area {
    margin-top: 30px;
}

#mazeContainer {
    top: 15px;
    opacity: 0;
    display: inline-block;
    margin: auto;
    border-radius: 10px;
}

#mazeContainer, #mazeCanvas {
    margin: 0;
    display: block;
    border: solid 2px black;
    height: 400px;
}

/* Dropdown menu styles */
input, select {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.30);
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
}

/* Interactive styling for dropdown select menu */
input:hover, select:hover {
    background-color: rgba(67, 105, 31, 0.7)
}

input:active, select:active {
    background-color: black;
}

input:focus, select:focus {
    outline:none;
}

.custom-select {
    display: inline-block;
}

.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: none;
    background-position: 125px center;
}

/* Toggled message box onclick */
#message-box {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#message-box #message {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

/* General page styles */
#page {
    text-align: center;
    height: auto;
    width: auto;
    margin: auto;
}

#page #menu {
    margin: auto;
    padding: 10px;
    height: 65px;
    box-sizing: border-box;
}

#page #game-area {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}

.border {
    border: 10px black solid;
    border-radius: 10px;
}

#instructions {
    margin-top: 425px;
}

/* Small devices such as phones (767px and down) */
@media only screen and (max-width: 400px) {
    input, select {
        width: 120px;
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
    input, select {
        width: 150px;
    }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
    input, select {
        width: 200px;
    }
}